{% extends 'doc_manage/base.html' %}

{% block main %} 
    
    <div class="row mx-auto col-8">
        <h1 class="text-center mb-5">Login from here</h1>
        <div>
            <form method="POST" class=" form-row align-item-center">
                {% csrf_token %}
                <label for="username">Username </label>
                <input class="form-control" type="username" name="username" id="email" placeholder="xyz@yahoo.com"><br>
                <label for="pass">Password </label>
                <input class="form-control" type="password" name="password" id="pass" placeholder="**********"><br>
                <input class = "btn  btn-primary m-3" type="submit" name="login" id="login">
                <a class = "btn  btn-primary" href="{% url 'signup' %}">signup ?</a>
            </form>
        </div>
    </div>
    
    
{% endblock main %}