{% extends 'doc_manage/base.html' %}

{% block main %} 
    <h1>Login from here</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username </label>
        <input type="username" name="username" id="email" placeholder="xyz"><br>
        <label for="pass">Password </label>
        <input type="password" name="password" id="pass" placeholder="**********"><br>
        <input type="submit" name="login" id="login">
    </form>
    <a href="{% url 'signup' %}">signup ?</a>
{% endblock main %}