{% extends 'doc_manage/base.html' %}

{% block main %}

{% if messages %}
<ul class="messages alert alert-danger list-group-none" role="alert">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<div>
    <div class="row mx-auto border border-secondary rounded m-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mx-auto col-6 m-5 p-4">
                <div class=" d-md-flex justify-content-md-end">
                    <a class="btn btn-danger col-2 m-3" href="{% url 'logout' %}">Logout</a>
                </div>
                <div>{{context.as_p}}</div>
                <input class="col-2 mx-5 mt-5  btn btn-success " type="submit" value="upload">
                <a class="btn btn-primary col-2 mx-2 mt-5" href="{% url 'display' %}">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock main %}